.about-me-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .about-me {
    margin-left: 2rem;
    max-width: 50%;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .about-me-img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
