.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me {
  margin-left: 2rem;
  max-width: 50%;
}

.about-me-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
