.markdown {
  line-height: 1.6;
  color: #161619;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 1.5rem 0 0.5rem;
  }

  h5 {
    font-size: 1.3rem;
    color: #657c5d;
    margin-bottom: 0;
  }

  strong {
    font-weight: 700;
  }

  p {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
  }

  p em {
    display: inline; // behåll inline
  }

  p em::before {
    content: '\A'; // newline
    white-space: pre; // gör att \A blir en radbrytning
  }

  p em:first-of-type::before {
    content: none;
  }

  p strong {
    display: block;
  }

  ul,
  ol {
    padding-left: 1.2rem;
    margin-bottom: 1rem;
  }
}
