.photography-portfolio-item {
  width: 80%;
  .divider {
    width: 100%;
    height: 2px;
    margin: 1rem auto;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
    .subtitle {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  .main-image-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .main-image {
      max-width: 70%;
      margin-right: 2rem;
      img {
        width: 100%;
      }
    }
    .summary {
      max-width: 30%;
      margin-right: 3rem;
    }
  }
  .content {
    margin-top: 3rem;
  }

  .techniques {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    p {
      margin: 0;
    }
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
