.intro-text-container {
  max-width: 90%;
  .intro-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.project-nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .meta {
      font-size: 0.8rem;
      color: #666;
    }
  }
  margin-top: 2rem;
}

.development-projects-items,
.design-projects-items,
.photography-projects-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  h2 {
    align-self: flex-start;
  }
}
.development-projects-intro,
.design-projects-intro,
.photography-projects-intro {
  margin: 0 3rem 2rem 3rem;
  h2 {
    margin-top: 0;
  }
  .intro-text {
    font-size: 0.9rem;
  }
}
.divider {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 3rem auto;
}
