.development-projects-items,
.design-projects-items,
.photography-projects-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  h2 {
    align-self: flex-start;
  }
}
.development-projects-intro,
.design-projects-intro,
.photography-projects-intro {
  margin: 0 3rem 2rem 3rem;
  h2 {
    margin-top: 0;
  }
  .intro-text {
    font-size: 0.9rem;
  }
}
.divider {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 3rem auto;
}
