.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 25%;
  h4 {
    font-size: 1.3rem;
    margin: 0.5rem 0 0 0;
  }
  p {
    font-size: 0.9rem;
  }
  .card-head {
    align-self: flex-start;
  }
  .read-more-button-container {
    background-color: #89af76;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background-color: #a3cf8b;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
}
